<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h1 class="title"></h1>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <p>Application ID</p>
                <div class="application_id"></div>
            </div>
          </div>
        <a type="button" class="btn btn-dark" href="/application/<%= id %>/edit">
            edit
        </a>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Type</th>
                        <th scope="col">Features</th>
                        <th scope="col">Status</th>
                        <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>
        </div>

    </main>

    <script>
        $(document).ready(function () {
            let id = '<%= id %>'
            $.ajax({
                url:`/api/number/${id}`,
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    result.numbers.forEach((v,i) => {
                        console.log("attached");
                        console.log(v);
                    })
                }
            })

            $.ajax({
                url:`/api/number`,
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    result.numbers.forEach((v,i) => {
                        console.log("not attached");

                        console.log(v);
                    })
                }
            })


            {{/*  $.ajax({
                url: "/api/application",
                contentType: "application/json",
                dataType: 'json',
                success: function (result) {
                    result["_embedded"].applications.forEach((v, i) => {
                        console.log(v);
                        $(".table-body").append(`<tr>
                            <td>${v.name}</td>
                            <td>${v.id}</td>
                            <td>
                                <a href="/application/${v.id}/edit" type="button" class="btn btn-light edit-${i}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <button type="button" class="btn btn-danger delete-${i}">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                          </tr>`);
                        $(document).on("click", `button.delete-${i}`, function () {
                            if (confirm("Are you sure?")) {
                                $.ajax({
                                    type: "DELETE",
                                    url: `/api/application/${v.id}`,
                                    success: function (result) {
                                        window.location.href = "/application"
                                    }
                                })
                            }
                        })
                    })
                }
            })  */}}

        })
    </script>

</body>

</html>